
		<div style="margin: 15px;">
				<div class="layui-form-item">
					<label class="layui-form-label">昵称 ：</label>
					<div class="layui-input-block">
						<input type="text" name="username" id="username" lay-verify="title" autocomplete="off" placeholder="请输入用户名" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">姓名 ：</label>
					<div class="layui-input-block">
						<input type="text" name="actualname" id="actualname" lay-verify="required" placeholder="请输入真实名字" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">手机 ：</label>
					<div class="layui-input-block">
						<input type="tel" name="phone" id="phone"  lay-verify="phone" placeholder="请输入手机号码" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">邮箱 ：</label>
					<div class="layui-input-block">
						<input type="text" name="email" id="email" lay-verify="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">微信 ：</label>
					<div class="layui-input-block">
						<input type="text" name="weixin" id="weixin" placeholder="请输入微信" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">QQ ：</label>
					<div class="layui-input-block">
						<input type="" name="qq" lay-verify="number" id="qq" placeholder="请输入QQ帐号" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">生日 ：</label>
					<div class="layui-input-block">
						<input type="text" name="birthday" id="date" lay-verify="date" placeholder="yyyy-mm-dd" autocomplete="off" class="layui-input" onclick="layui.laydate({elem: this})">

					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">地址 ：</label>
					<div class="layui-input-block">
						<input type="text" name="address" id="address" placeholder="请输入地址" lay-verify="title" autocomplete="off"  class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">密码 ：</label>
					<div class="layui-input-block">
						<input type="password" name="password" id="password" lay-verify="pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
				</div>
				
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit="" lay-filter="demo1" id="blogadd">立即提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
		</div>

	<script type="text/javascript">  
	    $(function(){  
	        $('#blogadd').click(function(){ 

	            var $nameVal = $.trim($('#username').val()); 
	            var $actualnameVal = $.trim($('#actualname').val());  
	            var $telphoneVal=$.trim($('#phone').val());
	            var $birthdayVal=$.trim($('#date').val());
	            var $weixinVal=$.trim($('#weixin').val());
	            var $qqVal=$.trim($('#qq').val());
	            var $emailVal=$.trim($('#email').val());
	            var $addressVal=$.trim($('#address').val());
	            var $headerVal=$.trim($('#header').val());
	            var $pwdVal=$.trim($('#password').val());
	            //如果没有填写数据,则直接返回false.不执行ajax提交操作  
	           
	            if($nameVal == '' ){  
	                layer.msg('请输入用户名', {time: 1000, icon:6,shade: 0.8});
	                return false;  
	            }  

	            if($actualnameVal < 5 ){  
	                layer.msg('标题至少得5个字符啊', {time: 1000, icon:6,shade: 0.8});
	                return false;  
	            }  
	            if($telphoneVal==phone){  
	                layer.msg('手机号码错误', {time: 1000, icon:6,shade: 0.8});
	                return false;  
	            }  
	            
	            /* 
	                $.post(url,parameters,callback); 
	                url : post提交的服务器端资源地址。 
	                parameters: 需要传递到服务器端的参数。 参数形式为“键/值”。 
	                callback : 在请求完成时被调用,这里我们通过$data来接收服务器返回的数据   
	             */  
	            var url = '{:U("Members/blogadd")}';
	            $.post(url, {
	            	username : $nameVal,
	            	actualname:$actualnameVal,
	            	birthday:$birthdayVal,
	            	phone:$telphoneVal,
	            	weixin:$weixinVal,
	            	qq:$qqVal,
	            	email:$emailVal,
	            	address:$addressVal,
	            	header:$headerVal,
	            	password:$pwdVal,
	            },function($data) { 
	             layer.msg($data.info, {time: 1000, icon:6,shade: 0.8});
	                if($data.status == 1){  
	                	layer.msg($data.info, {
						  icon: 6,//成功的表情
						  time: 2000 ,//2秒关闭（如果不配置，默认是3秒）
						  shade: 0.8,
						  end: function(){ //此处用于跳转父级
							location.href = $data.url; 
						  }
						}); //
	                }else{  
	                   layer.msg($data.info, {
						  icon: 2,//成功的表情
						  time: 2000 ,//2秒关闭（如果不配置，默认是3秒）
						  shade: 0.8
						}); 
	                }     
	            }); 
	             return false;  
	        });  
	    });  
	</script> 